
@import "./variables";

.titulo_sub {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dorado;
    font-family: $subletras;
    color: $dorado;
    margin-top: 4rem;
}

.carta_texto {
    color: $dorado;
}
.carta {
    border: none;
    .carta_img {
        width: $tamano;
        height: $tamanoDos;
    }
}

.boton_carta {
    color: black;
    background-color: $dorado;
    border-color: $dorado;
}

.boton_carta:hover {
    background-color:   $rosaClaro;
}