@import "./variables";
@import "./media-queries";

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dorado;
    font-size: $titulouno;
    font-family: $letras;
    @include tablet {
        font-size: 4rem;
    }
    @include movil {
        font-size: 2rem;
    }
}

.imgCarrusel {
    width: 600px;
    height: 250px;
    display: flex;
    align-items: center;
}

.titulo_sub {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dorado;
    font-family: $subletras;
}

.carrousel_link {
    text-decoration: none;
    color: $dorado;
}