@import "./variables";
@import "./media-queries";

.tarjetas_horiz {
    --bs-gutter-x: 0;
}

.tarjetas_vert {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    margin-top: 3rem;
    .tarjetas_link {
        .tarjetas_img {
            position: relative;
            display: inline-block;
            text-align: center;
                .tarjetas_img_bg {
                    width: 15rem;
                    -webkit-transform: height 1s, width 1s;
                    transform: height 1s, width 1s;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-pack: distribute;
                        justify-content: space-around;
                        @include movil {
                            width: 13rem;
                        }
                }
                .tarjetas_img_bg:hover {
                    height: 23rem;
                    width: 23rem;
                }
                .tarjetas_text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.5rem;
                    color: black;
                    background: $rosaClaro;
                }
        }
    }
}
