
$rosaClaro: #f4ebd0;
$dorado: #b68d40;
$tamano:  15rem;
$tamanoDos: 20rem;
$titulouno: 8rem;
$titulos: 2.5rem;
$letras: 'News Cycle', sans-serif;
$subletras: 'Hubballi', cursive;
//#b68d40
//#d6ad60
